body {
    margin: 0;
    background-color: var(--color-background);
}

:root {
    --color-background: #262626;
    --color-bars: grey;
}

header {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-bars);
}

#input {
    background-color: var(--color-background);
    border: 1px solid var(--color-bars);
    width: 200px;
    color: white;
}

#select-theme {
    background-color: var(--color-bars);
    border: 1px solid var(--color-bars);
}

#content-view {
    padding-top: 5%;
    justify-content: center;
    display: flex;
}

view {
    justify-content: center;
    display: flex;
}

#homebar {
padding: 2.5px;
backdrop-filter: invert(10%) contrast(0%) saturate(0%);
position: absolute;
width: 20%;
border-radius: 5px;
z-index: 20;
margin-top: 977px;
}
